body{
    background-color:white;
    margin: auto ;
    box-sizing: border-box;
    color: white;
}

#main-header{display: flex;
    justify-content: space-between;
    
    
}
 .right-header{
margin-top: 15px;
font-size: 30px;
}
.left-header{
    margin-top: 15px;
    font-size: 30px;
    float: right;  
}
#bar-logo{
    margin-left: 30px;
    color: white;
}
#youtube-logo{
    margin-left: 30px;
    color: white;
}

#video-logo, #app-icon, #alert-icon{
    margin-right: 30px;
    color: white;
}

#person-icon{
    margin-right: 30px;
    color: blue;
}

#search-bar{
    width: 35em;
    margin-top: 17px;
    padding: 5px;
    background-color:white;
    border-right: none;
    color: rgb(14, 2, 2);
    font-size: 17px;
}

#search-button{
    padding: 5px; 
    padding-left: 5px; 
    font-size: 17px;
}

#btn{
    background-color: gray;
    border-left: none;
    width: 50px;
}

#main-content{
    display: flex;
}

.video-div{
    margin:30px;
}

#ifr{
    width: 750px;
    height: 422px;
}

.video-stat{
    display: flex;
    justify-content: space-between;
    color: black;
}
#fa-fa{
    color: gray;
}

.video-description{
    margin: 40px;
    display: flex;
    color: black;
}
.row-1{
    flex: 0.6;
}

.row-2{
    flex: 6;
    margin-top: -10px;
}

.row-3{
    flex: 0;
}

#author-logo{
    border-radius: 20px;
    width: 50px;
    color: black;
}

.author-name{
    font-weight: bold;
    color: black;
}


#sub-btn{
    cursor: pointer;
    background: red;
    border: none;
    width: 105px;
    padding: 5px;
}

.comments{
    margin: 30px;
    color: black;
    padding-left: 30px;
}
.comment.header

#profile-pics{
    border-radius: 30px;
}

#public-comment{
    border: none;
    border-bottom: 1px solid #303030;
    background: none;
    color: black;
    width: 100%;
}

.side-bar{
    margin: 30px;
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.up-next{
     display: flex;
     justify-content: space-between;
     color: black;
}

.auto-play{
    display: flex;
    color: gray;
}

#auto-play-btn{
    color: black;
}

.next-video{ 
    display: flex;
    color: black;
}

#thumbnail{
    width: 80%;
    cursor: pointer;
}

.video-details{
    margin-top: -25px;
    margin-left: -30px;
    cursor: pointer;
    color: black;
}

.small-text{
    margin-top: -15px;
    color: black;
    text-decoration-color: black;
    
}
h3{
   display: flex;
    
   color: black;
    text-decoration: black;
}
comments-header {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 80px;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    width: 90px;
}

.comments-header h3 {
    font-size: 18px;
}